.footer {
  padding: 40px 0;
  text-align: center;
}


.footer {
  background: #212529;  
  color: #ffffff;       
}


[data-theme="dark"] .footer {
  background: #ffffff;  
  color: #212529;       
}

.footer small {
  color: rgba(255, 255, 255, 0.7) !important;
}


[data-theme="dark"] .footer small {
  color: #212529 !important;
}