
#projects {
  background: var(--bg1);
  color: var(--text);
  padding: 60px 0;
}



.card {
  background: var(--bg1);                    
  border: 2px solid rgba(255, 255, 255, 0.288);
  color: var(--text);                        
  transition: transform 0.2s ease;
}


.project-card:hover {
  transform: translateY(-6px);
}


.btn-primary {
  background-color: var(--accent);
  border-color: var(--accent);
}


[data-theme="dark"]{
    #projects .card {
    background: var(--bg1);                    
    color: #fff;                               
    border: 2px solid rgba(255, 255, 255, 0.733);
    }

   
    #projects .btn-outline-dark {
    color: #fff;
    border-color: #fff;
    }

    #projects .btn-outline-primary {
    color: #fff;
    border-color: var(--accent);
    }
}
